* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Poppins-Medium;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Be Vietnam;
  src: url(../fonts/BeVietnamPro-ExtraLight.ttf);
}
.container {
  width: 1350px;
  height: auto;
  margin: 0 auto;
  position: center;
  overflow-x: hidden;
}
header {
  display: flex;
  margin: 25px 0 0 0;
}
li {
  list-style-type: none;
  text-decoration: none;
}
.logo_text {
  font-family: Poppins-Medium;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
.header_btns {
  display: inline;
  list-style: none;
  flex-direction: row;
  margin: 15px 0 0 643px;
}
.header_btn {
  display: flex;
  margin: 0 60px 0 0;
}
.header_btn_last {
  display: flex;
}
.knopki {
  border: 0;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  height: 16px;
}
.header1_btn {
  background: none;
  border: none;
  margin: 19px 0 0 30px;
}
.nav-links {
  color: #000;
  font-family: Poppins-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.btns228 {
  display: flex;
}
.cl1 {
  position: sticky;
  z-index: -1;
  margin: -27px 0 0 -604px;
}
.block1 {
  display: flex;
  margin: -867px 0 0 0;
}
.text1 {
  margin: 246px 0 0 0;
  width: 620px;
}
.text_Qua {
  color: #000;
  font-family: Poppins;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 86px;
  letter-spacing: 1.98px;
}
.text_Grow {
  color: #000;
  font-family: Poppins;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 1.98px;
}
.texthide {
  color: #000;
  font-family: Be Vietnam;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.64px;
}
.bottle1 {
  margin: 60px 0 0 127px;
}
.button228 {
  width: 138px;
  height: 54px;
  border-radius: 27px;
  background: #FF543D;
  border: none;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  margin: 30px 0 0 0;
}
.xxx {
  margin: 111px 0 0 -235px;
}
.text2 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 154px 0 0 0;
}
.text3 {
  color: #000;
  text-align: center;
  font-family: Be Vietnam;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.64px;
}
.bottle1-4 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.dorogi {
  display: flex;
  width: 303px;
  justify-content: center;
}
.bottle5 {
  margin: 0 0 0 125px;
}
.text_but {
  width: 308px;
  color: #000;
  text-align: center;
  font-family: Be Vietnam;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.64px;
}
.bottle_under_text {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 15px 0;
  text-align: center;
}
.bottlehead2 {
  margin: 0 0 0 -346px;
  width: 545px;
  height: 850px;
}
.block2 {
  margin-top: 150px;
  display: flex;
}
.cl2 {
  margin: -70px 0 0 -268px;
}
.texthead2 {
  color: #000;
  font-family: Poppins;
  font-size: 52px;
  font-weight: 400;
  line-height: 67px;
  margin: 160px 0 0 0;
}
.textblock2 {
  color: #000;
  font-family: Be Vietnam;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.64px;
  width: 660px;
  margin: 0 0 10px 0;
}
.button337 {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  width: 180px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 27px;
  background: #FF543D;
  border: none;
  margin-top: 20px;
}
.block2div {
  margin-left: 110px;
  margin-top: 28px;
}
.textblock3 {
  margin: 150px 0 0 0;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 52px;
  font-weight: 400;
}
.textblock4 {
  color: #000;
  text-align: center;
  font-family: Be Vietnam;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.64px;
}
.buti {
  flex-direction: row;
  display: flex;
  margin: 60px 0 0 0;
  justify-content: space-around;
}
.but1 {
  display: flex;
  justify-self: center;
  height: 400px;
  width: 100px;
  margin-bottom: 105px;
}
.but2 {
  display: flex;
  height: 400px;
  width: 100px;
  margin-bottom: 105px;
}
.but3 {
  display: flex;
  height: 400px;
  width: 100px;
  margin-bottom: 105px;
}
.textblock5 {
  color: #000;
  text-align: center;
  font-family: Poppins-Medium;
  font-size: 28px;
  font-weight: 500;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.space-between {
  display: flex;
  justify-content: space-around;
  margin: 60px 0 67px 0;
}
.textbut {
  display: flex;
  justify-content: space-between;
}
.price {
  color: var(--ff-543-d, #FF543D);
  text-align: center;
  font-family: Be Vietnam;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
}
.gifka {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url(../img/piknicksmall.png), lightgray 50% / cover no-repeat;
  width: 1828px;
  height: 800px;
  margin-left: -239px;
  border-radius: 100px;
}
.gifkatext {
  display: flex;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.text333 {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 66px;
  font-weight: 400;
  line-height: 85px;
  margin-top: 250px;
}
.text333under {
  color: #FFF;
  text-align: center;
  font-family: Be Vietnam;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
}
.textblock6 {
  margin: 347px 0 0 0;
  color: #000;
  font-family: Poppins;
  font-size: 52px;
  font-weight: 400;
  line-height: 67px;
  width: 647px;
}
.textblock7 {
  color: #000;
  font-family: Be Vietnam;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.64px;
  margin-bottom: 45px;
}
.happycustommer {
  display: flex;
  flex-direction: row;
  width: 645px;
  margin-bottom: 50px;
}
.pic1 {
  display: flex;
  width: 60px;
  height: 60px;
  margin-right: 223px;
}
.imgpic {
  margin: 0 20px 0 0;
}
.globtext {
  color: #000;
  font-family: Poppins-Medium;
  font-size: 24px;
  font-weight: 700;
}
.htext {
  width: 150px;
  color: #000;
  font-family: Be Vietnam;
  font-size: 16px;
  font-weight: 300;
}
.zx {
  display: flex;
  flex-direction: row;
}
.text620 {
  width: 620px;
}
.flexbut3 {
  display: flex;
  margin: 0 0 0 0;
}
.cl3 {
  margin: 0 -1612px 0 889px;
  position: sticky;
  z-index: -1;
}
.headbut3 {
  margin: 150px 0 0 130px;
}
.textblock8 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 52px;
  font-weight: 400;
  margin-top: 150px;
}
.textblock9 {
  color: #000;
  text-align: center;
  font-family: Be Vietnam;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.64px;
  margin-bottom: 57px;
}
.karinkiProstoBomba {
  display: flex;
  margin-bottom: 55px;
}
.picsha {
  width: 16px;
  height: 20px;
  margin-right: 10px;
  margin-top: 9px;
}
.column {
  display: flex;
  flex-direction: column;
}
.px {
  margin-right: 30px;
}
.headblocktext {
  color: #000;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 400;
  margin-left: 10px;
}
.possibleblocktext {
  display: flex;
  color: #000;
  font-family: Be Vietnam;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.64px;
  align-items: flex-end;
  margin: 10px 0 0 10px;
  width: 385px;
}
.link {
  color: var(--ff-543-d, #FF543D);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-left: 10px;
}
.bubilda {
  display: flex;
}
.px2 {
  margin: 0 30px 0 71px;
}
.button328 {
  width: 140px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 27px;
  background: #FF543D;
  border: none;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.knpka {
  display: flex;
  justify-content: center;
  margin: 9px 0 150px 0;
}
.lastblock {
  display: flex;
  margin: 0 0 0 0;
}
.cl4 {
  margin: -74px -430px 0 -283px;
}
.marginfoto {
  margin: 0 0 0 60px;
}
.headtext9 {
  color: #000;
  font-family: Poppins;
  font-size: 52px;
  font-weight: 400;
  line-height: 67px;
  margin: 0 0 45px 0;
}
.thelastoftext {
  margin: 35px 0 0 0;
  color: #000;
  width: 665px;
  font-family: Be Vietnam;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.64px;
}
.sername {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 30px 0 0 0;
}
.thelasttext {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 52px;
  font-weight: 400;
  margin: 120px 0 0 0;
}
.mar {
  margin: 60px 0 150px  0;
}
.marki {
  margin-right: 116px;
}
.image-container {
  background-image: url(../img/Vector\ \(2\).png);
  background-size: cover;
  background-position: center;
  height: 480px;
  width: 1905px;
  position: relative;
  display: flex;
  margin-left: -280px;
}
.text-container {
  margin: 130px 0 0 0;
  width: 1905px;
  height: 236px;
  flex-direction: row;
  display: flex;
}
.foot2 {
  margin: 0 0 0 285px;
}
.slaviapng {
  margin: 0 0 25px 0;
}
.foottext {
  color: #FFF;
  font-family: Be Vietnam;
  font-size: 16px;
}
#width {
  width: 316px;
}
.contacts {
  margin: 25px 0 0 0;
}
#con1 {
  width: 316px;
}
.headtextfooter {
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.blockfooter2 {
  margin: 0 0 0 102px;
}
.line {
  width: 45px;
  height: 2px;
  background: #FFF;
  margin: 12px 0 25px 0;
}
#marginfoot {
  margin: 0 0 12px 0;
}
#marginnn {
  margin: 0 0 0 102px;
}
.zxc {
  display: flex;
}
#photo {
  height: 19px;
  margin: 0 10px 0 0 ;
}
#qsmk {
  width: 217px;
}
#marg {
  margin: 0 0 12px 0;
}
#marg27 {
  width: 337px;
}
.email {
  width: 327px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
  display: flex;
  margin: 25px 0 0 0 ;
}
.emailinput {
  margin: 0 0 0 25px;
  border: none;
  color: #ABABAB;
  font-family: Be Vietnam;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.64px;
  outline: none;
}
.buttonfooter {
  width: 109px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 27px;
  background: #FF543D;
  margin: 3px -9px 0 0;
}
.textbuttonfooter {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background: none;
  border: none;
  display: flex;
  margin: 15px 25px 15px 25px;
}
.longlinefooter {
  width: 1350px;
  height: 2px;
  background: #FFF;
}
.pos_longline {
  display: flex;
  justify-content: center;
  margin: 60px 0 0 0;
}
.under_text {
  display: flex;
  margin: 15px 0 0 0;
}
.right_under_text {
  display: flex;
  margin: 0 0 0 823px;
}
.img_tchka {
  width: 5px;
  height: 5px;
  margin: 10px 20px 0 20px;
}
.txt_under {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
