*{
    padding: 0;
    margin: 0;
    background: #FFF;
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins);
}
@font-face {
    font-family: Be Vietnam;
    src: url(../fonts/BeVietnamPro-Regular.ttf);
}
@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}

li{
    list-style-type: none;
}
header{
    display:flex;
}

.container{
    width: 1920px;
    height: auto;
    margin: 0 auto;
    
}
.logo_text{
    font-family: Poppins-Medium ;
    font-size: 36px;
    letter-spacing: 0.72px;;
    margin: 25px 0 0 285px;
}
.header_btns{
    margin:40px 0 0 643px;
    border: none;
    display: inline-block;
}
.header_btn{
    margin:0 60px 0 0;
    border: none;
    font-size: 16px;
    font-family: Poppins-Medium ;
    text-decoration: none;
}
.header_btnlast{
    font-family: Poppins-Medium ;
    border: none;
    font-size: 16px;
}
.header1_btn{
    border: none;
    margin: 42px 0 0 0;
    margin-left: 30px;
    border: none;
}
.nav-links{
    display: flex;
    text-decoration: none;
    color: #000;
}
.nav-links:active{
    color: #FFD15C;
}
.btns228{
    display: flex;
}
.home-head-t{
    margin: 246px 0 0 285px;
    font-family: Poppins-Medium;
}
.home-head-text{
    color: #000;
    font-family: Poppins;
    font-size: 66px;
    font-weight: 400;
    line-height: 86px; /* 130.303% */
    letter-spacing: 1.98px;
    width: 620px;
}
.home-head-text2{
    color: #000;
    font-family: Poppins;
    font-size: 66px;
    font-style: normal;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 1.98px;
}
.home-head-text-under{
    color: #000;
    font-family: Be Vietnam;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.64px;
    width: 613px;
}
#home{
    display: flex;
}
.bottle1{
    margin: 75px 0 0 134px;
    
}
.vector1{
    fill: #F5F5F6;
}
.btn{
    border-radius: 27px;
    background: #FF543D;
    width: 138px;
    height: 54px;
    border:0;
    color: var(--red, #ffffff);
    font-family: Poppins-Medium;
    margin-top: 45px;
}
.xxx{
    margin:111px 0 0 -190px;

}
.text-a{
    display: flex;
    justify-items: center;
    margin: 154px 0 0 704px
    
}
.text-about{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 52px;
    
}
.text-about-z{
    color: #000;
    font-family: Poppins;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
.text-about-above{
    color: #000;
    text-align: center;
    font-size: 16px;
    
}
.text-about-above-div{
    width: 698px;
    text-align: center;
    margin: 0 0 0 611px;
    font-family: Be Vietnam;
}
.bottle1-4{
    margin: 55px 0 0 280px;
    display: flex;
}
.bottle1{

}
.bottle2{
    margin: 60px 0 0 0px;
}
.bottle3{
    margin: 60px 0 0 295px;    
}
.bottle4{
    margin: 60px 0 0 287px;    
}
.bottle_under_text{
    color: #000;
    text-align: center;
    font-family: Be Vietnam;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.64px;
}
